.container {
    border: solid 2px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
}

.container_new {
    border: solid grey 2px;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.row {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.col-sm-12 {
    padding-left: 0px;
}

body {
    background-image: url("dynamic-style.png");
}

h2 {
    color: teal;
}

h1 {
    background-color: teal;
    color: white;
    text-indent: 45px;
}

.hello_world {
    float:left;
    padding-right: 10px;
}

hr {
    border-top: 4px solid grey;
}

nav a {
    display: inline-block;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid white;
  }

  .btn_btn-primary {
      background-color: teal;
      color: white;
  }

  .word {
      color: white;
  }

  footer {
	background-color:#666666;
	height: 40px;
	color: white;
	border-top: 8px solid #4aaaa5;
    text-align: center;
    
}